[Unit]
Description=osworld service
StartLimitIntervalSec=60
StartLimitBurst=4
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/python /home/user/server/main.py
User=user
WorkingDirectory=/home/user/server
Environment="DISPLAY=:0"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
